// 主应用 layout 布局样式【子应用采用 scoped css 设置样式，不会收到影响】
.layout {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .layout-header {
    display: flex;
    background-color: antiquewhite;
    height: 48px;
    align-items: center;
    color: #646cff;
    font-weight: 500;
    padding: 0 16px;
  }
  .layout-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    .layout-left {
      width: 200px;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
    }

    .layout-right {
      padding: 16px;
      flex: 1 1 auto;
      background-color: #fff;
      display: flex;
      flex-direction: column;
    }
  }
}

// // 该元素样式将设置为全局样式【即将会被设置到所有应用 button 元素上】
// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #f9f9f9;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }

// // 覆盖 reactApp layout scoped 样式
// ._layout_1tw3u_1 {
//   padding-top: 30px;
// }

// // 覆盖 vueApp layout scoped 样式
// .layout[data-v-051739fd] {
//   padding-top: 30px;
// }
